#folio_propos .containerAbout {
  display: flex;
}
#folio_propos .containerAbout .about {
  background: #0b0918;
  padding: 2%;
  box-shadow: 12px 12px 2px 1px rgba(22, 21, 26, 0.2);
  border-radius: 5px;
  width: 35%;
  margin: 6% auto;
}
#folio_propos .containerAbout .about .texteMoi {
  float: left;
}
#folio_propos .containerAbout .about h2, #folio_propos .containerAbout .about h3, #folio_propos .containerAbout .about p {
  color: #F2EEFF;
}
#folio_propos .containerAbout .about .imgAbout {
  width: 40%;
  float: left;
}
#folio_propos .containerAbout .about .imgAbout img {
  width: 14vw;
}
#folio_propos .containerAbout .about .textePropos {
  width: 100%;
}
#folio_propos .containerAbout .about .textePropos h3 {
  margin-top: 15px;
  margin-bottom: 8px;
}
#folio_propos .skills {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #20193E;
  width: 18%;
  margin: auto;
}
#folio_propos .articlesSkills {
  position: relative;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
#folio_propos .articlesSkills article {
  min-height: 50vh;
  width: 20%;
  background: red;
  margin: 2%;
}