body {
  font-family: "Roboto", sans-serif;
}

#folio_home, #folio_projet, #folio_propos, #folio_contact {
  min-height: 100vh;
  color: #20163D;
}
#folio_home h1, #folio_projet h1, #folio_propos h1, #folio_contact h1 {
  font-size: 2.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
#folio_home h2, #folio_projet h2, #folio_propos h2, #folio_contact h2 {
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase;
}
#folio_home h3, #folio_projet h3, #folio_propos h3, #folio_contact h3 {
  font-size: 1vw;
  font-weight: 500;
}
#folio_home p, #folio_projet p, #folio_propos p, #folio_contact p {
  font-size: 0.8vw;
  line-height: 1.5;
  font-weight: 500;
}

.containerAbout, .containerProjet, .containerContact, .texteHome {
  position: relative;
  z-index: 3;
}

.triangles, .trianglesElar, .trianglesElar3, .trianglesElar2, .triangles2, .triangles2Bas, .haut {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4.2vw solid transparent;
  border-right: 4.2vw solid transparent;
  border-top: 7.5vw solid #1F193E;
}

.haut {
  border-top: none;
  border-bottom: 7.5vw solid #1F193E;
}

.triangles2, .triangles2Bas {
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-bottom: 1.25vw solid #1F193E;
  border-top: 0vw solid transparent;
}

.triangles2Bas {
  border-top: 1.25vw solid #1F193E;
  border-bottom: 0vw solid transparent;
}

.trianglesElar, .trianglesElar3, .trianglesElar2 {
  rotate: 60deg;
  border-left: 2.5vw solid transparent;
  border-right: 4.2vw solid transparent;
  border-top: 1.7vw solid #1F193E;
}

.trianglesElar2 {
  border-left: 4.2vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-top: 0rem solid transparent;
  border-bottom: 1.7vw solid #1F193E;
}

.trianglesElar3 {
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-top: 1.7vw solid #1F193E;
}

.tri, .tri2 {
  position: relative;
  width: 15%;
  height: 40%;
  margin: -3%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: flex;
  justify-content: center;
  background: #24193d;
  transition: 0.8s;
}
.tri:hover, .tri2:hover {
  width: 16%;
  height: 41%;
}

.tri2 {
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.button1, .button2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  width: 30%;
  font-size: 1.2vw;
  border-radius: 3px;
  background: #F2EEFF;
  border: none;
  cursor: pointer;
  color: #24193d;
  text-align: center;
  margin-top: 2%;
  padding: 1%;
}

.button2 {
  background: #24193d;
  color: #F2EEFF;
  width: 20%;
}