header {
  width: 100%;
  background: rgba(252, 251, 255, 0.85);
  position: fixed;
  z-index: 10;
  text-transform: uppercase;
  display: flex;
}
header .logo img {
  height: 4.5vw;
}
header #hamburger {
  border-bottom: solid #20193E 3px;
  display: flex;
  width: 70%;
  margin: auto;
}
header #hamburger ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
header #hamburger ul li {
  width: 11%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
header #hamburger ul li a {
  text-decoration: none;
  color: #20193E;
  font-weight: 700;
  font-size: 1.1vw;
}
header #hamburger ul li a:hover {
  color: #F2EEFF;
  background-color: #0B0918;
  transition: 0.5s;
  border-radius: 5px;
  padding: 8px;
}
header #hamburger #hamburger-content {
  width: 100%;
  margin: auto;
}
header #hamburger-sidebar {
  position: fixed;
  width: 80%;
  z-index: 11;
  height: 100%;
  top: 0;
  left: 0;
  background: #20163D;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
  display: none;
}
header #hamburger-sidebar li {
  display: block;
  margin-top: 10%;
}
header #hamburger-sidebar #hamburger-sidebar-header {
  display: flex;
  justify-content: center;
}
header #hamburger-sidebar #hamburger-sidebar-header img {
  width: 18em;
  margin-top: 8%;
}
header #hamburger-sidebar #hamburger-sidebar-body {
  display: flex;
  margin-top: 6%;
}
header #hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
header #hamburger-button {
  display: none;
  position: absolute;
  right: 15%;
  top: 50%;
  height: 50px;
  width: 50px;
  transform: translateY(-50%);
  font-size: 30px;
  color: #20163D;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  header #hamburger {
    border-bottom: solid #20193E 2px;
  }
  header #hamburger img {
    height: 4em;
  }
  header #hamburger-content {
    display: none;
  }
  header #hamburger-button, header #hamburger-sidebar, header #hamburger-sidebar-body, header .hamburger-activated #hamburger-overlay {
    display: block;
  }
  header #hamburger-sidebar img {
    height: 10em;
    margin-top: 10%;
  }
  header #hamburger-sidebar nav {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  header #hamburger-sidebar nav ul {
    display: block;
    width: 100%;
  }
  header #hamburger-sidebar nav ul li {
    width: 100%;
    display: block;
    margin-top: 10%;
  }
  header #hamburger-sidebar nav ul li a {
    color: #F2EEFF;
    font-size: 4vw;
  }
  header .hamburger-activated #hamburger-sidebar {
    transform: translateX(0%);
  }
}