@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#folio_home, #folio_projet, #folio_propos, #folio_contact {
  min-height: 100vh;
  color: #20163D;
}
#folio_home h1, #folio_projet h1, #folio_propos h1, #folio_contact h1 {
  font-size: 2.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
#folio_home h2, #folio_projet h2, #folio_propos h2, #folio_contact h2 {
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase;
}
#folio_home h3, #folio_projet h3, #folio_propos h3, #folio_contact h3 {
  font-size: 1vw;
  font-weight: 500;
}
#folio_home p, #folio_projet p, #folio_propos p, #folio_contact p {
  font-size: 0.8vw;
  line-height: 1.5;
  font-weight: 500;
}

.containerAbout, .containerProjet, .containerContact, .texteHome {
  position: relative;
  z-index: 3;
}

.triangles, .trianglesElar, .trianglesElar3, .trianglesElar2, .triangles2, .triangles2Bas, .haut {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4.2vw solid transparent;
  border-right: 4.2vw solid transparent;
  border-top: 7.5vw solid #1F193E;
}

.haut {
  border-top: none;
  border-bottom: 7.5vw solid #1F193E;
}

.triangles2, .triangles2Bas {
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-bottom: 1.25vw solid #1F193E;
  border-top: 0vw solid transparent;
}

.triangles2Bas {
  border-top: 1.25vw solid #1F193E;
  border-bottom: 0vw solid transparent;
}

.trianglesElar, .trianglesElar3, .trianglesElar2 {
  rotate: 60deg;
  border-left: 2.5vw solid transparent;
  border-right: 4.2vw solid transparent;
  border-top: 1.7vw solid #1F193E;
}

.trianglesElar2 {
  border-left: 4.2vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-top: 0rem solid transparent;
  border-bottom: 1.7vw solid #1F193E;
}

.trianglesElar3 {
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-top: 1.7vw solid #1F193E;
}

.tri, .tri2 {
  position: relative;
  width: 15%;
  height: 40%;
  margin: -3%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: flex;
  justify-content: center;
  background: #24193d;
  transition: 0.8s;
}
.tri:hover, .tri2:hover {
  width: 16%;
  height: 41%;
}

.tri2 {
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.button1, .button2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  width: 30%;
  font-size: 1.2vw;
  border-radius: 3px;
  background: #F2EEFF;
  border: none;
  cursor: pointer;
  color: #24193d;
  text-align: center;
  margin-top: 2%;
  padding: 1%;
}

.button2 {
  background: #24193d;
  color: #F2EEFF;
  width: 20%;
}

header {
  width: 100%;
  background: rgba(252, 251, 255, 0.85);
  position: fixed;
  z-index: 10;
  text-transform: uppercase;
  display: flex;
}
header .logo {
  margin: -1%;
}
header .logo img {
  height: 4.5vw;
}
header #hamburger {
  border-bottom: solid #20193E 3px;
  display: flex;
  width: 70%;
  margin: auto;
}
header #hamburger ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
header #hamburger ul li {
  width: 11%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
header #hamburger ul li a {
  text-decoration: none;
  color: #20193E;
  font-weight: 700;
  font-size: 1.1vw;
}
header #hamburger ul li a:hover {
  color: #F2EEFF;
  background-color: #0B0918;
  transition: 0.5s;
  border-radius: 5px;
  padding: 8px;
}
header #hamburger #hamburger-content {
  width: 100%;
  margin: auto;
}
header #hamburger-sidebar {
  position: fixed;
  width: 80%;
  z-index: 11;
  height: 100%;
  top: 0;
  left: 0;
  background: #20163D;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
  display: none;
}
header #hamburger-sidebar li {
  display: block;
  margin-top: 10%;
}
header #hamburger-sidebar #hamburger-sidebar-header {
  display: flex;
  justify-content: center;
}
header #hamburger-sidebar #hamburger-sidebar-header img {
  width: 18em;
  margin-top: 8%;
}
header #hamburger-sidebar #hamburger-sidebar-body {
  display: flex;
  margin-top: 6%;
}
header #hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
header #hamburger-button {
  display: none;
  position: absolute;
  right: 15%;
  top: 50%;
  height: 50px;
  width: 50px;
  transform: translateY(-50%);
  font-size: 30px;
  color: #20163D;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  header #hamburger {
    border-bottom: solid #20193E 2px;
  }
  header #hamburger img {
    height: 4em;
  }
  header #hamburger-content {
    display: none;
  }
  header #hamburger-button, header #hamburger-sidebar, header #hamburger-sidebar-body, header .hamburger-activated #hamburger-overlay {
    display: block;
  }
  header #hamburger-sidebar img {
    height: 10em;
    margin-top: 10%;
  }
  header #hamburger-sidebar nav {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  header #hamburger-sidebar nav ul {
    display: block;
    width: 100%;
  }
  header #hamburger-sidebar nav ul li {
    width: 100%;
    display: block;
    margin-top: 10%;
  }
  header #hamburger-sidebar nav ul li a {
    color: #F2EEFF;
    font-size: 4vw;
  }
  header .hamburger-activated #hamburger-sidebar {
    transform: translateX(0%);
  }
}

#folio_home .divHome, #folio_projet .divHome, #folio_propos .divHome, #folio_contact .divHome {
  display: flex;
  height: 100vh;
}
#folio_home .divHome .texteHome, #folio_projet .divHome .texteHome, #folio_propos .divHome .texteHome, #folio_contact .divHome .texteHome {
  margin: auto;
  margin-left: 20%;
  font-weight: 700;
}

.containerTriangle .zoneTriangle {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 64%;
  width: 0;
  height: 0;
  transform: translate(-55%, -50%);
}
.containerTriangle .zoneTriangle .bas {
  transform: translate(0%, 104%);
  animation: triangle-appear 0.3s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .gauche {
  transform: translate(-53%, -3%);
  animation: triangle-appear 0.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .droite {
  transform: translate(53%, -3%);
  animation: triangle-appear 1s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .upLvG {
  transform: translate(-53%, -106%);
  animation: triangle-appear 1.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .upLvD {
  transform: translate(53%, -106%);
  animation: triangle-appear 2s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .upLvBas {
  transform: translate(0%, -109%);
  animation: triangle-appear 2.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .upLvLastd {
  transform: translate(106%, -109%);
  animation: triangle-appear 2s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .upLvLastG {
  transform: translate(-106%, -109%);
  animation: triangle-appear 2.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .triangles2, .containerTriangle .zoneTriangle .triangles2Bas {
  transform: translate(-25%, -775%);
  animation: triangle-appear 3s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .triangles2Bas {
  transform: translate(33%, -785%);
  animation: triangle-appear 3.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .droit2 {
  transform: translate(93%, -775%);
  animation: triangle-appear 4s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .trianglesElar, .containerTriangle .zoneTriangle .trianglesElar2, .containerTriangle .zoneTriangle .trianglesElar3 {
  transform: translate(-43%, 445%);
  animation: triangle-appear 4.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .trianglesElar2 {
  transform: translate(-3%, 460%);
  animation: triangle-appear 5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .trianglesElar3 {
  transform: translate(74%, 403%);
  animation: triangle-appear 5.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .mirror, .containerTriangle .zoneTriangle .mirror2, .containerTriangle .zoneTriangle .mirror3 {
  rotate: -60deg;
}
.containerTriangle .zoneTriangle .mirror {
  transform: scaleX(-1) translate(-55%, 532%);
  animation: triangle-appear 3s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .mirror2 {
  transform: scaleX(-1) translate(-15%, 549%);
  animation: triangle-appear 4.5s ease-in-out forwards;
}
.containerTriangle .zoneTriangle .mirror3 {
  transform: scaleX(-1) translate(41%, 577%);
  animation: triangle-appear 5s ease-in-out forwards;
}

@keyframes triangle-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#folio_propos .containerAbout {
  display: flex;
}
#folio_propos .containerAbout .about {
  background: #1d1431;
  padding: 2%;
  border-radius: 5px;
  width: 35%;
  margin: 6% auto;
}
#folio_propos .containerAbout .about .texteMoi {
  float: left;
  width: 60%;
}
#folio_propos .containerAbout .about h2, #folio_propos .containerAbout .about h3, #folio_propos .containerAbout .about p {
  color: #F2EEFF;
}
#folio_propos .containerAbout .about h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
  text-transform: capitalize;
}
#folio_propos .containerAbout .about h3 {
  margin-left: 12%;
  margin-bottom: 4%;
}
#folio_propos .containerAbout .about .btn {
  width: 100%;
  margin-left: 12%;
}
#folio_propos .containerAbout .about .imgAbout {
  width: 40%;
  float: left;
}
#folio_propos .containerAbout .about .imgAbout img {
  width: 14vw;
}
#folio_propos .containerAbout .about .textePropos {
  width: 100%;
}
#folio_propos .containerAbout .about .textePropos h3 {
  margin-top: 15px;
  margin-bottom: 8px;
}
#folio_propos .skills {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #20193E;
  width: 18%;
  margin: auto;
}
#folio_propos .articlesSkills {
  position: relative;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  color: #F2EEFF;
}
#folio_propos .articlesSkills article {
  display: flex;
  justify-content: center;
  min-height: 36vh;
  width: 18%;
  background: #1d1431;
  margin: 2%;
  text-align: center;
  margin-bottom: 8%;
}
#folio_propos .articlesSkills article div {
  width: 80%;
}
#folio_propos .articlesSkills article div h2 {
  margin-top: 10%;
  margin-bottom: 8%;
}
#folio_propos .articlesSkills article div h3 {
  margin-bottom: 5%;
}
#folio_propos .articlesSkills article div p {
  margin-bottom: 10%;
}

#folio_projet .containerProjet {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
#folio_projet .containerProjet .tri .overlay, #folio_projet .containerProjet .tri2 .overlay {
  align-items: end;
}
#folio_projet .containerProjet .tri2 .overlay {
  align-items: start;
}
#folio_projet .containerProjet .tri .overlay, #folio_projet .containerProjet .tri2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 21, 61, 0.63);
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 7;
}
#folio_projet .containerProjet .tri .overlay:hover, #folio_projet .containerProjet .tri2 .overlay:hover {
  opacity: 1;
  visibility: visible;
}
#folio_projet .containerProjet .tri .overlay h3, #folio_projet .containerProjet .tri2 .overlay h3 {
  color: #fff;
  font-size: 2vw;
  text-align: center;
  position: relative;
  z-index: 8;
}
#folio_projet .containerProjet .tri a, #folio_projet .containerProjet .tri2 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#folio_projet .containerProjet .tri a img, #folio_projet .containerProjet .tri2 a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
}
#folio_projet .containerProjet .tri a img:hover, #folio_projet .containerProjet .tri2 a img:hover {
  filter: blur(4px);
}

#folio_contact {
  display: flex;
}
#folio_contact .containerContact {
  width: 60%;
  height: 55vh;
  margin: 15% auto;
  color: #f2eeff;
  border-radius: 5px;
  display: flex;
}
#folio_contact .containerContact .contactImg {
  width: 50%;
  background: #1d1431;
}
#folio_contact .containerContact .contactForm {
  display: flex;
  width: 50%;
  background: #2d1f4d;
  align-items: center;
}
#folio_contact .containerContact .contactForm form {
  width: 100%;
}
#folio_contact .containerContact .contactForm form div {
  display: flex;
  width: 80%;
  margin: 2vh auto;
  justify-content: center;
}
#folio_contact .containerContact .contactForm form div input, #folio_contact .containerContact .contactForm form div textarea {
  font-size: 1.5vw;
  text-align: center;
  color: #f2eeff;
  border: 2px solid #F2EEFF;
  width: 100%;
  height: 3vh;
  border-radius: 8px;
  background: #24193d;
  outline: none;
  cursor: pointer;
}
#folio_contact .containerContact .contactForm form div textarea {
  height: 20vh;
  resize: none;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  z-index: 6;
}
.theme-switch-wrapper .theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .theme-switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.theme-switch-wrapper .theme-switch .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
.theme-switch-wrapper .theme-switch input:checked + .slider {
  background-color: #2196F3;
}
.theme-switch-wrapper .theme-switch input:checked + .slider:before {
  transform: translateX(24px);
}

#folio_home.dark-mode, .dark-mode#folio_propos, .dark-mode#folio_contact,
#folio_projet.dark-mode {
  background: #04030A;
}

#folio_propos.dark-mode,
#folio_contact.dark-mode {
  background: #0a0311;
}

#folio_home, #folio_projet, #folio_propos, #folio_contact {
  background: #FCFBFF;
}

#folio_propos, #folio_contact {
  background: #F2EEFF;
}

.section-canvas {
  position: relative;
}
.section-canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  min-height: 100%;
}

.clearFloat {
  clear: both;
}

footer {
  height: 7vh;
  background: #24193d;
}